@model InventarioUdC.GUI.Models.ModeloPersonaGUI

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_persona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Primer_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primer_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Otros_nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Otros_nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Primer_apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primer_apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Segundo_apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Segundo_apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Documento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Documento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new{@class="btn btn-primary"}) |
    @Html.ActionLink("Volver a la lista", "Index", new{}, new{@class="btn btn-danger"})
</p>
