@model IEnumerable<InventarioUdC.GUI.Models.ModeloMarcaGUI>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo registro de Marca", "Create", new{}, new{@class="btn btn-success"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new{@class="btn btn-primary"}) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new{@class="btn btn-warning"}) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.Id }, new{@class="btn btn-danger"})
            </td>
        </tr>
    }

</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))