@model InventarioUdC.GUI.Models.ModeloEspacioGUI

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar</h2>

<h3>Seguro que quieres Eliminar?</h3>
<div>
    <h4>tb_espacio</h4>
    <hr />
    @if (ViewBag.mensaje != null)
    {
        <strong style="color:red">@ViewBag.mensaje</strong>
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PisoNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PisoNombre)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-warning" /> |
            @Html.ActionLink("Volver a la lista", "Index", new{}, new{@class="btn btn-danger"})
        </div>
    }
</div>
