@model InventarioUdC.GUI.Models.ModeloEspacioGUI

@{
    ViewBag.Title = "Details";
}

<h2>detalles</h2>

<div>
    <h4>Espacis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PisoNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PisoNombre)
        </dd>

    </dl>
</div>
<p>
   
    @Html.ActionLink("Volver a la lista", "Index", new{}, new{@class="btn btn-danger"})
</p>
