@model InventarioUdC.GUI.Models.ModeloProductoGUI

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Seguro que quieres borrar?</h3>
<div>
    <h4>tb_producto</h4>
    <hr />
    @if (ViewBag.mensaje != null)
    {
        <strong style="color:red">@ViewBag.mensaje</strong>
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_registro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_registro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Serial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EspacioNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EspacioNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarcaNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarcaNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonaPrimerNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonaPrimerNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoProductoNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoProductoNombre)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-warning" /> |
    @Html.ActionLink("Volver a la lista", "Index", new { }, new { @class = "btn btn-danger" })
</div>
    }
</div>
