@model InventarioUdC.GUI.Models.ModeloProductoGUI

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Productos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_registro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_registro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Serial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EspacioNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EspacioNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarcaNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarcaNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonaPrimerNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonaPrimerNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoProductoNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoProductoNombre)
        </dd>

    </dl>
</div>
<p>
    Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new{@class="btn btn-info"}) |
    @Html.ActionLink("Volver a la lista", "Index", new { }, new { @class = "btn btn-danger" })
</p>
